.main {
    display: grid;
    grid-template-columns: 600px auto;
    margin: auto;

}
 /* TITLE AND PICTURE  */
.title {
    width: 600px;
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    
}
.title > h2 {
    
}
img {
   
}
 /* RECIPE TEXT */
.recipe-text {
    width: 600px;
}
.description {}
.ingredients {}
.steps {}
    