body {
    margin: auto;
}
.main {
    display: flex;
   
    
    

}
 /* TITLE AND PICTURE  */
.title {
    width: 600px;
    display: flex;
    flex-direction: column;
    
    
}
.title > h2 {
    
}
img {
   
}
 /* RECIPE TEXT */
.recipe-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    
}
.description {}
.ingredients {}
.steps {}
    