body {
    margin: auto;
}

.main {
    display: flex;
    width: 100%;

}

/* TITLE AND IMG  */
.title {
    width: 40%;
    display: flex;
    flex-direction: column;


}

/* RECIPE TEXT */
.recipe-text {
    width: 600px;
    display: flex;
    flex-direction: column;

}

.description {}

.ingredients {}

.steps {}